<html class="gr__localhost"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">-->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 </head>
<body ng-app="savingsBankApp" data-gr-c-s-loaded="true">

<!--<div class="ng-scope">
 	<p>Name: <input type="text" ng-model="name" class="ng-pristine ng-untouched ng-valid"></p>
 	<p ng-bind="name" class="ng-binding"></p>
</div>-->

<div ng-controller="savingsBankController">
	<div>
	  <h1>Savings Accounts</h1>
	</div>


<!--	<div class="hidden-sm-up" id="prodInfo">
		<div class="row" >
			<div class="col-sm-3 data-row data-row-style-1" >{{currentItem.product}}</div>
			<div class="col-sm-3 data-row data-row-style-2">{{currentItem.interest_rate}}</div>
			<div class="col-sm-3 data-row data-row-style-1">{{currentItem.minimum_deposit}}</div>
			<div class="col-sm-3 data-row data-row-style-2">{{currentItem.interest_type}}</div>
		</div>

	</div>-->
	<div class="row hidden-sm-up">
		<div class="col-sm-5">
			<div class="">
				<table class="table table-bordered table-striped prod-table">
				  <tbody class="">
					<tr><td>{{currentItem.product}}</td></tr> 
					 <tr> <td>{{currentItem.interest_rate}}</td></tr> 
					  <tr><td>{{currentItem.minimum_deposit}}</td> </tr> 
					  <tr><td>{{currentItem.interest_type}}</td></tr> 
				  </tbody>
				</table>
			</div>
   		</div>
   		   <div id="linksWrapper">
			<a ng-click="loadPrevItem()" href="#" id="prevBtn" class="pull-left">&lt;{{prevItem.product}}</a>	
			<a ng-click="loadNextItem()" href="#" id="nextBtn" class="pull-right">{{nextItem.product}}&gt;</a>
	</div>
    </div>
 
	<div class="row hidden-xs-down">
		<div class="col-md-5">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
				  <thead>
					<tr>
					  <th>Product</th>
					  <th>Interest Rate</th>
					  <th>Min Deposit</th>
					  <th>Interest Type</th>
					</tr>
				  </thead>
				  <tbody class="">
					<tr ng-repeat="item in userInfo.data" class="">
					  <td>{{item.product}}</td>
					  <td>{{item.interest_rate}}</td>
					  <td>{{item.minimum_deposit}}</td> 
					  <td>{{item.interest_type}}</td>
					</tr>
				  </tbody>
				</table>
			</div>
   		</div>
    </div>
</div>
<div ng-controller="searchUserCtrl">
	<div>
	  <h1>Search User</h1>
	  <div class="input-group">
      	<input type="text" class="form-control" id="userSearch" placeholder="Search user...">
      </div>
	</div>
	<div class="row">
		<div class="col-md-5">
		<table class="table table-striped table-bordered">
			<thead>
				<th>Name</th>
				<th  class="hidden-xs-down">Age</th>
				<th  class="hidden-xs-down">Shoe size</th>
				<th>Title</th>
			</thead>
			<tr ng-repeat="item in employee" >
				<td>{{item.name}}</td>
				<td class="hidden-xs-down">{{item.age}}</td>
				<td class="hidden-xs-down">{{item.shoe_size}}</td>
				<td>{{item.title}}</td>
			</tr>
		</table>
		</div>
	</div>

</div>
 <script src="/javascripts/controllers/savingsBankController.js"></script>
 </body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>